
<ng-container *ngIf="pokemons$ | async as pokemonsResponse">
  <div class="container pb-3">
    <div class="row">
      <div class="col-auto">
        <button class="btn btn-primary" *ngIf="pokemonsResponse.previous" (click)="previous()">Previous</button>    
      </div>
      <div class="col"></div>
      <div class="col-auto">
        <button class="btn btn-primary" *ngIf="pokemonsResponse.next" (click)="next()">Next</button>
      </div>
    </div>
    <ng-container *ngFor="let pokemon of pokemonsResponse.results">
      <ng-container *ngIf="transform(pokemon.url | async) as pkm">
        <app-pokemon [pokemon]="pkm"></app-pokemon>
      </ng-container>
    </ng-container>
    <div class="row">
      <div class="col-auto">
        <button class="btn btn-primary" *ngIf="pokemonsResponse.previous" (click)="previous()">Previous</button>    
      </div>
      <div class="col"></div>
      <div class="col-auto">
        <button class="btn btn-primary" *ngIf="pokemonsResponse.next" (click)="next()">Next</button>
      </div>
    </div>
  </div>
</ng-container>