
<ng-container *ngIf="pokemons$ | async as pokemonsResponse">
  <div class="container pb-3">
    <p>pokemons works!</p>
    <div class="row">
      <div class="col-auto">
        <button class="btn btn-primary" *ngIf="pokemonsResponse.previous" (click)="previous()">Previous</button>    
      </div>
      <div class="col"></div>
      <div class="col-auto">
        <button class="btn btn-primary" *ngIf="pokemonsResponse.next" (click)="next()">Next</button>
      </div>
    </div>
    <ng-container *ngFor="let pokemon of pokemonsResponse.results">
      <ng-container *ngIf="transform(pokemon.url | async) as pkm">
        <div class="row">
          <div class="col-3">
            <img [src]="pkm.sprites.front_default"/>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col px-1">
                <span class="fw-bold">#{{ pkm.id }}</span>
                <span class="ps-2">{{ pkm.name }}</span>
              </div>
            </div>
            <div class="row">
              <ng-container *ngFor="let type of pkm.types">
                <div class="col-auto px-1">
                  <div class="px-1 text-uppercase rounded" [ngClass]="'bg-' + type.type.name">
                    {{ type.type.name }}
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <div class="row">
      <div class="col-auto">
        <button class="btn btn-primary" *ngIf="pokemonsResponse.previous" (click)="previous()">Previous</button>    
      </div>
      <div class="col"></div>
      <div class="col-auto">
        <button class="btn btn-primary" *ngIf="pokemonsResponse.next" (click)="next()">Next</button>
      </div>
    </div>
  </div>
</ng-container>